body{
margin:0px;
padding:0px;
}
body { behavior: url("csshover3.htc"); } 
a{
color: #65B5BC;
}
.adminmenu
{
COLOR: #1e2d7e;
    FONT-FAMILY: Arial,Tahoma, Helvetica,Verdana, sans-serif;
    FONT-SIZE: 12px;
    LINE-HEIGHT: 14px;


}
.link {

	color:#1e2d7e;
text-decoration:none;

}
.link:visited{

	color:#1e2d7e;
text-decoration:none;

}
.link:hover{
color:#1e2d7e;
background-color:#dadada;
}
.border {
	
	border: solid;
	background-color: #cccccc;
}
.admintextwhite {
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bolder;
	
}
.darkborder {
	border: 1px solid #738cbd;
}

.button {
/*change color*/
	border: thin dotted #012666;
	background-color: #012666;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight:bold;
	text-decoration: none;
	padding-left: 4px;
	padding-right: 4px;
	}
	.button a{
	color: #FFFFFF;
	
	}
	
	.buttond {
	border: thin dotted #54a2ec;
	background-color: #CCCCCC;;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	}
p.Header
	{margin-bottom:.0001pt;
	tab-stops:center 207.65pt right 415.3pt;
	font-size:12.0pt;
	font-family:"Times New Roman";
	margin-left:0in; margin-right:0in; margin-top:0in}
 table.NormalTable
	{-style-parent:"";
	font-size:10.0pt;
	font-family:"Times New Roman";
	}
h1
	{margin-bottom:.0001pt;
	page-break-after:avoid;
	font-size:12.0pt;
	font-family:"Times New Roman";
	margin-left:0in; margin-right:0in; margin-top:0in}
 p.Normal
	{-style-parent:"";
	margin-bottom:.0001pt;
	font-size:12.0pt;
	font-family:"Times New Roman";
	margin-left:0in; margin-right:0in; margin-top:0in}
	
	.buttoxn {
	border: thin dotted #54a2ec;
	background-color: #738cbd;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
}.red {
	color: #FF0000;
}

.dl {
	line-height:1.5;
	background-color: #cccccc;
	border: thin solid #000000;
}
.shade table{
border-collapse:collapse;
}
.shade td {
	background-color: #cccccc;
	border: thin solid #000000;
}
.shade div {
	background-color: #cccccc;
	border: thin solid #000000;
}

body {
	background-color: #ffffff;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#1e2d7e;
}
h1{
font-family: Verdana,Arial, Helvetica, sans-serif;
color:#1e2d7e;
}
.maintable {
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #b0c4de;
	padding: 10px;
	

}
.maintable2 {
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
/*change color*/	
	background-color: #F3F3F3;
	padding: 0px;
	color:#1e2d7e;
/*change color*/		
	border: thin solid #818181;
	margin:0px;
	
}
.maintable2w {
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
/*add height*/	
	line-height: 18px;
/*change color*/	
	background-color: #F3F3F3;
	padding: 10px;
	color:#1e2d7e;
	border: thin solid #333333;
	margin:20px;
	width:900px;
	
}

table.maintable2w th a{

color: #012666;
font-weight:bold;
}
.maintable2wsm {
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ccccff;
	padding: 10px;
	color:#1e2d7e;
	border: thin solid #333333;
	margin:20px;
	width:400px;
	
}
.maintable2border {
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
background-color: #F3F3F3;
	padding: 10px;
	color:#1e2d7e;
		border: thin solid #818181;
	margin:20px;
	border-collapse:collapse;
	
	}

.maintable2borderw {
	width:600px;
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	
	color:#1e2d7e;
	margin:20px;
	border-collapse:collapse;
		
	background-color: #F3F3F3;
	padding: 10px;
		
	border: thin solid #818181;
	
}
.maintable2border td{
border: thin solid #333333;

}

.maintable2borderw td{
border: thin solid #333333;

}
.maintable2 th{
font-weight:bold;
/*addition*/
padding-left: 10px;
padding-right: 10px;

}
.maintable2w td{


}
.maintable2w th{
font-weight:bold;

}
.maintable2 td{
/*addition*/
padding-left: 10px;
padding-right: 10px;


}
td{
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	
}	

/*addition*/
.maintable2 hr{
color: #818181; 
padding-left: 2px;
padding-right: 2px;


}

.maintable input{
	background-color: #b0c4de;

}
.maintable textarea{
	background-color: #b0c4de;

}

.leftmenu{
float:left;
	background-color: #b0c4de;
	width:150px;


}

.cancelform table table{
width:70px;
height:20px;

}
.cancelform table{
		width:400px;
	height:829;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:10px;
	border-collapse: collapse 
	color:#ff0000;
	
}
.cancelform th{
font-weight:bold;
border: thin solid #FF0000;
color:#ff0000;
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	padding:10px;
}
.cancelform td{
font-weight:bold;
border: thin solid #ff0000;
color:#ff0000;
font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding:10px;
}
.filenumber
{
	border: thin solid #ff0000;
	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#ff0000;
	
}
.cform ul{
display:block;
}
.cform li{
	border: thin solid #ff0000;
	list-style-type: none;
	display:block;
	
}
.highlightb{
	background-color: #FFFF00;
	/*border: thin solid #ff0000;*/
	padding:0px;
	font-size: 12px;
}
.b{
/*border: thin solid #ff0000;*/
padding:0px;
font-size: 10px;
}

#dropmenudiv{
	position:absolute;
	border:1px solid black;
	font:normal 12px/18px Verdana;
	z-index:100;
	color: #ffffff;
}

#dropmenudiv a{
	width: 100%;
	display: block;
	text-indent: 3px;
	color: #000000;
	border-bottom-style: dotted;
	border-bottom-width: thin;
	border-bottom-color: #999999;
}

#dropmenudiv a:hover{ /*hover background color*/
background-color: #000066;
color: #ffffff;
}
.small{
font-size:85%;

}

.bigred{
	font-size:115%;
	color: #FF0000;

}

.mailaddress{
	position: absolute;
	left: 250px;
	top: 150px;
}.pcndet{

line-height:13pt;
position: absolute;
	left: 600px;
	top: 140px;
}
.pcnletter{
	padding-top:55px;
	background-image: url(pcnletter.gif);
	background-repeat: no-repeat;
	width:595px;
	height:829;
	background-position: left top;
	font-size:7pt;

}
.box2{


position: absolute;
	left: 180px;
	top: 295px;
	
}
.dateofvil{
position: relative;
left:-70px;
top:1px;
}
.nameofsite{
position: relative;
left:140px;
top:13px;
}
.from{
position: relative;
left:75px;
top:28px;;
}
.to{
position: relative;
left:265px;
top:28px;
}
.lettotalamount{
position: relative;
left:-35px;
top:85px;
}
.letreducedamount{
position: relative;
left:320px;
top:105px;
}
.letreducedamount2{
position: relative;
left:70px;
top:215px;
}
.letparkingcharge{
position: relative;
left:0px;
top:195px;
}
.pcnprint{
position:absolute;
left:200px;
height:600px;
}
.pcnreminder{
	
	background-image: url(pcnreminder.gif);
	background-repeat: no-repeat;
	width:595px;
	height:833;
	background-position: left top;

}

.remmailaddress{
	position: absolute;
	left: 250px;
	top: 150px;
}.remdet{

line-height:13pt;
position: absolute;
	left: 620px;
	top: 140px;
}

.rembox2{


position: absolute;
	left: 490px;
	top: 305px;
	
}
.remnameofsite{
position: relative;
left:40px;
top:13px;
}
.remfrom{
position: relative;
left:75px;
top:28px;;
}
.remto{
position: relative;
left:265px;
top:28px;
}
.remtotalamount{
position: absolute;
left:5px;
top:45px;
}

.remslip{
position: absolute;
left:120px;
top:385px;
line-height:40px;
}
.letslip{
position: absolute;
left:390px;
top:400px;
line-height:40px;
}
.remreducedamount{
position: relative;
left:300px;
top:105px;
}
.remreducedamount2{
position: relative;
left:70px;
top:215px;
}
.remparkingcharge{
position: relative;
left:0px;
top:195px;
}

.cancletter{
	
	
	width:595px;
	
	

}
.NewPage {page-break-after: always;}
.canbig{
	font-size: 18px;
	color: #FF0000;


}
#red{
/*change color*/
	color: #CC0909;
}#blue {
	color: #0000FF;
}
#black{
/*change color*/
color:#012666;
}

.paidbig{
	font-size: 18px;
	color: #0000ff;


}
.bottom{
position: absolute;
left:20px;
top:1000px;
text-align:center;

}
.pageone{
	background-image: url(2.jpg);
	width:750px;
	height:1061px;
	position: relative;
	color:#000000;

}
.pageoneold{
	background-image: url(2old.jpg);
	width:750px;
	height:1061px;
	position: relative;
	color:#000000;

}

.pagetwo{
	
	width:750px;
	height:971px;
		color:#000000;
		margin-left:50px;
		padding-top:150px;
		margin-right:150px;
		padding-right:150;
	position: relative; 
	background-image: url(lh.gif);


}
.pagetwonew{
	
	width:750px;
	height:971px;
		color:#000000;
		margin-left:50px;
		padding-top:150px;
		margin-right:150px;
		padding-right:150;
	position: relative; 
	background-image: url(lhnew.gif);


}
.twodate{
position: absolute;
left:205px;
top:620px

}
.one{
position: absolute;
left:80px;
top:25px

}
.twosite{
position: absolute;
left:85px;
top:665px;
line-height:20px;

}

.three{
position: absolute;
left:360px;
top:148px

}
.fivereg{
position: absolute;
left:515px;
top:745px;

}

.fileref{
position: absolute;
left:515px;
top:855px;

}

.make{
position: absolute;
left:515px;
top:779px;

}

.model{
position: absolute;
left:515px;
top:820px;

}
.dateprinted{
position: absolute;
left:515px;
top:980px;

}
.pagetworeg{
position: absolute;
left:100px;
top:355px;
line-height:23px;

}

.clear{
clear:clear;

}.highlight {
	background-color: #FFFF00;
}
 

#container {
  position:relative;
  margin-left:15px; /* needed for this page only */
  }
#menu {
  text-align:center; 
  position:relative; 
  height:8em;
  }
.box {
  position:relative; 
  float:left; 
  top:30px;
  }
#menu a, #menu a:visited {
  position:relative; 
  text-decoration:none; 
  background-color:#06a; 
  color:#fff; 
  display:block; 
  width:70px; 
  height:22px; 
  padding:5px;
  margin:0 1px;
  }
#menu a .topleft, #menu a .topright {
  position:absolute; 
  top:0; 
  width:0; 
  height:0; 
  overflow:hidden;
  border-top:10px solid #fff;
  }
#menu a .topleft {
  left:0; 
  border-right:10px solid #06a; 
  }
#menu a .topright {
  left:70px; 
  border-left:10px solid #06a; 
  }
#menu a:hover {
  background-color:#000; 
  }
#menu a:hover .topleft {
  border-right:10px solid #000; 
  border-top:10px solid #fff;
  }
#menu a:hover .topright {
  border-left:10px solid #000; 
  border-top:10px solid #fff;
  }
	.bgyellow{
	background-color:#ffff00;
	}
.flt{
float:left;
padding-right:7px;
}
.sortable {
	
	font-family: Verdana,Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #ccccff;
	padding: 10px;
	color:#1e2d7e;
	border: thin solid #333333;
	margin:20px;
	
}
table.sortable a.sortheader {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    text-decoration: none;
    display: block;
}
table.sortable span.sortarrow {
    color: black;
    text-decoration: none;
}
table.sortable{
font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	
	padding: 0px;
	
}
.sortable td{
border: thin solid #99B3D5;
padding:0px;

}
input.blue{
color:blue;
}
.pr{

float:left;
border: thin solid #99B3D5;
width:100px;
}



/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */

.suckertreemenu ul{
margin: 0;
padding: 0;
list-style-type: none;
}

/*Top level list items*/
.suckertreemenu ul li{
position: relative;
display: inline;
float: left;
background-color: #F3F3F3; /*overall menu background color*/
}

/*Top level menu link items style*/
.suckertreemenu ul li a{
display: block;
width: 100px; /*Width of top level menu link items*/
padding: 1px 8px;
border: 1px solid black;
border-left-width: 0;
text-decoration: none;
text-align:left;
/*changed text color*/
color: #012666;
}
	
/*1st sub level menu*/
.suckertreemenu ul li ul{
left: 0;
position: absolute;
top: 1em; /* no need to change, as true value set by script */
display: block;
visibility: hidden;
}

/*Sub level menu list items (undo style from Top level List Items)*/
.suckertreemenu ul li ul li{
display: list-item;
float: none;
}

/*All subsequent sub menu levels offset after 1st level sub menu */
.suckertreemenu ul li ul li ul{ 
left: 159px; /* no need to change, as true value set by script */
top: 0;
}

/* Sub level menu links style */
.suckertreemenu ul li ul li a{
display: block;
width: 160px; /*width of sub menu levels*/
color: #012666;
text-decoration: none;
padding: 1px 5px;
border: 1px solid #ccc;
}

.suckertreemenu ul li a:hover{
/*changed*/
background-color: #012666;
color: white;
}

/*Background image for top level menu list links */
.suckertreemenu .mainfoldericon{
background: #F3F3F3 url(arrow-down.gif) no-repeat center right;
}

/*Background image for subsequent level menu list links */
.suckertreemenu .subfoldericon{
background: #F3F3F3 url(arrow-right.gif) no-repeat center right;
}

* html p#iepara{ /*For a paragraph (if any) that immediately follows suckertree menu, add 1em top spacing between the two in IE*/
padding-top: 1em;
}
	
/* Holly Hack for IE \*/
* html .suckertreemenu ul li { float: left; height: 1%; }
* html .suckertreemenu ul li a { height: 1%; }
/* End */
#header{
	width:100%;
	height:91px;
/*changed bg color*/	
	background-color:#ffffff;
/*use new bg image*/	
	background-image: url(images/headerNEWbg.jpg);
/*addition*/	
	background-position: right;
/*change repeat direction*/
	background-repeat: repeat-y;
/*addition*/	
	border-bottom: #760605;
	border-bottom-width: 6px;
	border-bottom-style: solid;
}
.logo{
float:left;

}
.rowcolor2 {
background-color:#DADADA;
}
.hright{
float:right;
padding-right:20px;
padding-top:20px;
}
.welcome{
float:left;
padding-top:60px;
}
.pcnheader{
padding-top:30px;
}
.loginheader{
background-color:#760605;
color:#ffffff;
}
.header{
background-color:#760605;
color:#ffffff;
width:100%;
}
.bfl{
float:left
margin:10px;
}
.siterules{
border:solid black 2px;

}
#engineers{

 background-color:#ffffff;

/*border:solid black;
*/

}


.myrow:hover{
background-color:yellow;
}

.myrow a{
color:#000000;
text-decoration:none;


}
.myrow a:hover{
background-color:yellow;

}