
body  {
	font: 100% Arial, Helvetica, sans-serif;
	background: #666666 url(bb_back.jpg);
	color: #333333;
	font-size: 12px;
	}
h1  {
	color: #032E61;
	font-size: 24px;
	padding-top: 15px;
	}
h2  {
	color: #FF6600;
	font-size: 20px;
	}
h3  {
	color: #FF6600;
	font-size: 14px;
	}
#container {
	position: relative;
	width: 955px;
	background: #FFFFFF;
	margin: 0 auto;
	text-align: left;
	top: -15px;
} 
#header {
	height: 124px;
	background: #003366 url(bb_banner.jpg) no-repeat top;
	padding: 0px;
	top: 0px;
} 
#sidebar1 {
	position: absolute;
	top: 160px;
	width: 120px;
	padding: 0px 5px 15px 0px;
	left: 0px;
}
#sidebar1 h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8px;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 0px;
	padding-top: 3px;
	margin-top: 0px;
	left: 0px;
	background-color: #FF6600;
}
#sidebar2 {
	position: absolute;
	top: 165px;
	right: 0;
	padding: 0px 0px 15px;
	bottom: 0px;
	width: 240px;
}
#sidebar2 h4 {
	background-image: url(blue_header.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 0px;
	padding-top: 3px;
	margin-top: 0px;
	left: 0px;
	background-color: #FF6600;
}
#sidebar2 ul {
	position: relative;
	font-size: 12px;
	list-style-type: square;
	line-height: 1.5;
	color: #000066;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	list-style-position: inside;
	padding: 0px;
	margin-right: 5px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
#sidebar2 ul a {
	font-size: 12px;
	line-height: 1.5;
	text-decoration: none;
	color: #000066;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	list-style-position: inside;
	list-style-type: square;
}
#sidebar2 ul a:hover {
	position: relative;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 0px;
	text-decoration: underline;
}
#mainContent {
	margin: 0 255px 0 140px;
	padding: 10 10px 0;
	font-size: 12px;
	color: #333333;
	line-height: 1.3;
	top: 165px;
}

#mainContent2 {
	margin: 0 255px 0 0px;
	padding: 10 10px 0;
	font-size: 12px;
	color: #333333;
	line-height: 1.3;
	top: 165px;
	
	
}
#mainContent2 p {
	
	padding-top:6px;
	font-size: 12px;
	color: #333333;
	
}
#mainContent h4  {
	color: #305FBF;
	font-size: 14px;
	padding-top: 0px;
	margin-bottom: -10px;
	}
#footer {
	padding: 0 10px 0 20px;
	background:#014689;
	height: 30px;
} 
.fltrt {
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}

#navbar {
	margin: 0;
	padding: 0;
	width: 100%;
	position: absolute;
	top: 124px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	background: url(menu_bar.gif) repeat-x top;
	left: 0px;
}
#navlist
{
	list-style-image: none;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-right: 0;
	padding-bottom: 0;
	top: 0px;
}
#navlist li
{
	margin: 0;
	padding: 0;
	float: left;
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	font-variant: normal;
	top: 0px;
}

#navlist li a
{
	color: #333333;
	text-decoration: none;
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 4px;
	padding-top: 4px;
	top: 0px;
}

#navlist li a:hover
{
	color: #FFFFFF;
	cursor: pointer;
	background: url(menu_bar_over.png) repeat-x bottom;
	top: 124px;
}
#copyright {
	position: absolute;
	height: 30px;
	width: 150px;
		left: 28px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-align: left;
	clear: left;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
#navcontainer {
	height: 20px;
	width: 500px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	top: 10px;
}
#navbott
{
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-align: center;
}
#navbott ul {
	margin-left: 0;
	padding-left: 0;
	white-space: nowrap;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
}

#navbott li
{
display: inline;
list-style-type: none;
}

#navbott a {
	padding: 2px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	font-variant: normal;
	color: #FFFFFF;
	text-decoration: none;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFFF;
}

#navbott a:link
{
	color: #fff;
	text-decoration: none;
}
#navbott a:hover
{
	color: #fff;
	text-decoration: underline;
}
#leftnavlist {
	position: relative;
	width: 100%;
	font: bold 12px/14px Arial, Helvetica, sans-serif;
	width: 100%;
	margin-bottom: 10;
	margin-top: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	left: 0px;
}
#leftnavlist li
{
	list-style: none;
	text-align: left;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 0;
	border-bottom-width: 4px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFFF;
	padding-top: 0px;
	padding-left: 0px;
	margin-left: 0px;
}

#leftnavlist li a
{
	display: block;
	border-left: 10px solid #FF6600;
	text-decoration: none;
	padding-left: 15px;
	color: #001446;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 5px;
	background-color: #EBEBEB;
	margin-left: 0px;
}

#leftnavlist li a:hover
{
	border-left-color: #033568;
	background-color: #FF6600;
	color: #FFFFFF;
}
#termsbox {
	position: relative;
	width: 180px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-align: right;
	float: right;
	right: 0px;
	bottom: 10px;
}
#termsbox a {
	color: #FFFFFF;
	text-decoration: none;
	padding-left: 2px;
	padding-right: 2px;
}
#termsbox a:hover {
	text-decoration: underline;
}
.image {
	margin-bottom: 15px;
	float: right;
	padding: 0px;
}

#newsbox {
	width: 100%;
	margin-top: 20px;
}
#newsbox h4 {
	width: 95%;
	margin-top: 30px;
	background-color: #FF9966;
	background-image: url(orange_header.gif);
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 12px;
	padding-right: 0px;
}
#newsbox p {
	width: 80%;
	margin-top: 0px;
	font-size: 12px;
	background-color: #EBEBEB;
	margin-left: 10px;
	padding: 10px;
}
#mainContent h3 {
	margin: 0;
	color: #FF6600;
}
.mainlogos {
	padding-top: 15px;
}
.topbanner {
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: -15px;
}
#callback {
	position: relative;
	width: 120px;
	top: 0px;
	height: 228px;
	margin-bottom: 15px;
}
#telnumber {
	position: relative;
	width: 120px;
	top: 0px;
	height: 105px;
}
#contactbox {
	position: relative;
	height: 115px;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	margin-top: 30px;
}
.contactlogo {
	padding-bottom: 10px;
}
