a:link {text-decoration: none; color: #009;}
a:visited {text-decoration: none; color: #009;}
a:hover {text-decoration: none; color: #03C;}
a:active {text-decoration: none; color: #03C;}

a.ajax:link {text-decoration: none; border: 1px dashed #390; color: #390; padding: 0 6px}
a.ajax:visited {text-decoration: none; border: 1px dashed #390; color: #390; padding: 0 6px}
a.ajax:hover {text-decoration: none; border: 1px dashed #6C0; color: #6C0; padding: 0 6px}
a.ajax:active {text-decoration: none; border: 1px dashed #6C0; color: #6C0; padding: 0 6px}

a.map:link {text-decoration: none; color: #C00;}
a.map:visited {text-decoration: none; color: #C00;}
a.map:hover {text-decoration: none; color: #F30;}
a.map:active {text-decoration: none; color: #F30;}

div.ui-datepicker{
	font-size:10px;
	margin: 4px 0px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10pt;
}
h1, h2 {
	margin: 0;
	padding: 0;
}

div#titleDiv {
	width: 100%;
	background-color: #DDF;
	margin: 0;
	padding: 8px;
	border-bottom: 1px solid #CCE;
}
div#contentDiv {
	width: 100%;
	margin: 0;
	padding: 8px;
}

#engineersTable {
	margin: 8px 0;
	border-spacing: 0;
	border-collapse: collapse;
}
#engineersTable th, #engineersTable td {
	padding: 2px 4px;
	text-align: center;
	border: 1px solid #DDD;
}
#engineersTable #locationHeader {
	min-width: 500px;
}
#engineersTable .totalCell {
	text-align: right;
}

.redText {
	background-color: #F99;
	font-weight: bold;
}

.formLayout label {
	width: 90px;
	float: left;
	margin: 3px 0;
	text-align: right;
	padding-right: 10px;
}
.formLayout input {
	margin: 2px 4px 2px 0;
}